<div class="home" th:fragment="home">
    <h1 style="white-space: pre">W E L C O M E - T O - A S P I R E A P P S</h1>
    <h1 style="white-space: pre"> M I C R O M A R T</h1>
    <h5>V.1.0</h5>

    <div class="button-group">
        <button class="primary-button"
                th:onClick="|location.href='@{/ir/aspireapps/linker/auth/web/v1/register}'|">Sign up
        </button>

        <button class="secondary-button"
                th:onclick="|location.href='@{/ir/aspireapps/linker/auth/web/v1/login'}|">Login
        </button>
    </div>

</div>