<div th:fragment="navbar">
    <nav class="navbar">
        <div class="navbar">
            <h1>MicroMart - A microservice based ecommerce service</h1>
        </div>
    </nav>
    <hr/>
    <div class="profil-row-items">
        <a class="navbar-button" th:href="@{/ir/aspireapps/linker/home}">home</a>
        <sec th:if="${AUTHENTICATED}">
            <a class="navbar-button" th:href="@{/ir/aspireapps/linker/user/web/v1/profile}">profile</a>
            <a class="navbar-button" th:href="@{/ir/aspireapps/linker/auth/web/v1/logout}">logout</a>
        </sec>
    </div>
</div>