@import url("colors.css");

.test {
    background-color: var(--success);

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 50vh;
    max-height: 75vh;

    color: white;
    padding: 2rem;
    border-radius: 12px;
}